:root{
    --bg-color: #121214;
    --bg-second: #201f24;
    --bg-terceary: #433569;
    --font-color: #7b7a80;
    --nav-color: #8257e5;


    font-size: 62.5%; /* 1rem = 10px; */
}

*{
    font-family: Arial;
    
}

img {
    max-width: 100%;
}

body{
    background-color: var(--bg-color);
    margin: 0;
    padding: 0;
}

header{
    background-color: var(--bg-second);
    padding: 0rem 0;
}

.wrapper {
    max-width: 132rem;
    margin: 0 auto;
    padding-inline: 8rem;
  }

  .wrapper > div{
    display: flex;
    justify-content: space-between;
  }


.logo{
    margin-left: 0rem;
    padding-bottom: 1.9rem;
    display: flex;
    align-items: center;
    
}
.logo img{
    width: 12rem;
}
.name{
    display: flex;

    align-items: center;
    
    color: var(--nav-color);
}

.name h1 {
    font-size: 1.5rem;
}
.menu{
    display: flex;
    align-items: center;
}

nav ul, nav li{
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul{
    display: flex;
    flex-wrap: wrap;
}

nav a {
    display: block;
    padding: 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--font-color);
}

nav .active a , nav a:hover {
    background-color: var(--bg-terceary);
    color: var(--font-color);
}
#banner{
    display: flex;
    justify-content: center;
    background-image: url(imagens/kobebunner.webp);
    background-position: center;
    background-size: cover;
    height: 900px;
}

.column{
    flex-direction: column;
}

.banner_headline{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner_headline h1{
    color: #fbad18;
    font-size: 70px;
    text-shadow: 0px 1px 0px #555555; 
    margin: 0;
    margin-right: 1200px;
    margin-top: 130px;
    padding: 30;
    max-width: 350px;
}
.banner_headline h2{
    color:#FFFFFF;
    font-size: 25px;
    text-shadow: 0px 1px 0px #555555; 
    margin: 30;
    box-sizing: border-box;
    padding: 0px;
    max-width: 350px;
    margin-top: 1px;
}
.banner_headline h3{
    color: #fbad18;
    padding-left: 45;
    font-size: 25;
}

.countainer_biografia{
    color: #e8e8e8;
    font-size: 18px;
    padding: 35;
}
.countainer_biografia h1{
    color: var(--nav-color);
    font-size: 25px;
    padding-left: 180;
    margin-bottom: 25;
}

.countainer_biografia h2{
    color: #e8e8e8;
    font-size: 20px;
    text-align: center;
}
.countainer_biografia p{
    
    text-align: justify;
}

.container_trajetoria{
    color: #e8e8e8;
    font-size: 18px;
    padding: 35;
}
.container_trajetoria h1{
    color: var(--nav-color);
    font-size: 25px;
    padding-left: 180;
    margin-bottom: 25;
}
.container_trajetoria{
    
    text-align: justify;
}
.principal{
    color: #e8e8e8;
    font-size: 18px;
    padding: 35;
}
.carreira{
    text-align: justify;
}

.carreira h1{
    color: var(--nav-color);
    font-size: 25px;
    padding-left: 180;
    margin-bottom: 25;
}
.premios{
    color: #e8e8e8;
    font-size: 18px;
    text-align: justify;
    padding: 35;
}
.premioskobe h1{
    color: var(--nav-color);
    font-size: 25px;
    padding-left: 180;
    margin-bottom: 25;
}
.premioskobe ul{
    padding-left: 150;
    padding-top: 50;
    font-size: 18px;
    
}
::marker{
    color: rgb(233, 194, 23);
}
img{
    padding-left: 150;
    padding-top: 50;
    width: 600;
}
.mensoes{
    color: #e8e8e8;
    font-size: 18px;
    text-align: justify;
    padding: 35;
}
.mensoeshonrrosas h1{
    color: var(--nav-color);
    font-size: 25px;
    padding-left: 180;
    margin-bottom: 25;
}
.mensoeshonrrosas h2{
    color: rgb(233, 194, 23); 
    font-size: 25px;
    padding-left: 180;
    margin-bottom: 25;
}
.kobevideo{
    display: flex;
    justify-content: center;
    background-position: center;
    background-size: cover;
    height: 900px;
 
}

.rodape{
    
        background-color: var(--bg-second);
        padding: 1.5rem 0;
}

.footer_text{
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    padding: 35;
}
